<!-- list -->
<ul class="nav">
  <tabset justified="true">
    <tab heading="Controls">
        <div class="btn-group">
          <button class="btn m-b-xs btn-sm btn-primary" ng-click="addTextIntoCanvas()"><i class="fa fa-font"></i>&nbsp;&nbsp;Add Text</button>
          <button class="btn m-b-xs btn-sm btn-primary" ng-click="addFigureIntoCanvas('circle')"><i class="fa fa-circle"></i>&nbsp;&nbsp;Draw Circle</button>
          <button class="btn m-b-xs btn-sm btn-primary" ng-click="addFigureIntoCanvas('rect')"><i class="fa fa-square"></i>&nbsp;&nbsp;Draw Rectangle</button>
          <button class="btn m-b-xs btn-sm btn-danger" ng-click="deleteObjectIntoCanvas()"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete Selection</button>
        </div>
        <div class="col-sm-12" class='btn-group'>

            <button ng-click="history('Undo')" class="btn btn-default" ng-disabled = "buttons.undo">Undo</button>
            <button ng-click="history('Redo')" class="btn btn-default" ng-disabled = "buttons.redo">Redo</button>

            <button class='btn bnt-default' ng-click="zoomIn(1.1)">Zoom in</button>

            <button class='btn bnt-default' ng-click="zoomOut(1.1)">Zoom out</button>

            <button class='btn bnt-default' ng-click="exitIsolation()" ng-disabled = 'buttons.isolationMode'> Exit isolation </button>

            <button class='btn bnt-default' ng-click="groupingToggle(groupingToggleData.state)" ng-style="buttons.groupingToggleButtonStyle">{{groupingToggleData.buttonName}}</button>
        </div>

        <div class="col-sm-12" ng-if="showBlock">
            <div class="col-sm-12 well" ng-if='showBlock=="canvasText"'>
                <div class="col-sm-4">
                    <label class="control-label" title="Text">
                        Text
                    </label>
                    <textarea class="form-control" cols="3" rows="1" ng-model="canvasTextObj.text" ng-change="changeTextIntoCanvas(canvasTextObj)"></textarea>
                </div>
                <div class="col-sm-4">
                    <label class="control-label" title="Font Size">
                        <i class="fa fa-text-height"></i>
                    </label>
                    <input type="number" class="form-control" ng-model="canvasTextObj.fontSize" ng-change="changeTextIntoCanvas(canvasTextObj)"/>
                </div>
                <div class="col-sm-4">
                    <label class="control-label" title="Line Height">
                        <i class="fa fa-align-left"></i>
                    </label>
                    <input type="number" class="form-control" ng-model="canvasTextObj.lineHeight" ng-change="changeTextIntoCanvas(canvasTextObj)"/>
                </div>
                <div class="col-sm-1">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textLeft')"><i class="fa fa-align-left"></i></button>
                </div>
                <div class="col-sm-1">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textCenter')"><i class="fa fa-align-center"></i></button>
                </div>
                <div class="col-sm-1">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textRight')"><i class="fa fa-align-right"></i></button>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textBold')"><i class="fa fa-bold"></i></button>
                </div>
                <div class="col-sm-2">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textItalic')"><i class="fa fa-italic"></i></button>
                </div>
                <div class="col-sm-2">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textUnderline')"><i class="fa fa-underline"></i></button>
                </div>
                <div class="col-sm-2">
                    <button class='btn btn-default btn-block mrm' ng-click="correctTextStyles('textStrikethrough')"><i class="fa fa-strikethrough"></i></button>
                </div>
                <div class="col-sm-12">
                    <label>Font Family</label>
                    <select class="form-control" ng-model="canvasTextObj.fontFamily" ng-change="changeTextIntoCanvas(canvasTextObj)">
                        <option ng-repeat="fontFamily in fontFamilies">{{fontFamily.name}}</option>
                    </select>

                    <label>Color</label>
                    <input class="form-control" ng-model="canvasTextObj.textColor" ng-change="changeTextIntoCanvas(canvasTextObj.setColor(canvasTextObj.textColor))"/>
                </div>
            </div>
        </div>
        <div class='col-sm-12' ng-if="showBlock">
            <div class="btn-group col-sm-4">
                <button ng-click="objectTransform('center')" class="btn btn-small btn-block">
                  Center
                </button>

                <button ng-click="objectTransform('horizontally')" class="btn btn-small btn-block">
                  Center Horizontally
                </button>

                <button ng-click="objectTransform('vertically')" class="btn btn-small btn-block">
                  Center Vertically
                </button>
            </div>

            <div class="btn-group col-sm-4">
                <div class="btn-group col-xs-12">
                    <button ng-click="objectTransform('bring_to_front')" class="btn btn-small btn-block">
                      Bring to front
                    </button>

                    <button ng-click="objectTransform('bring_forwards')" class="btn btn-small btn-block">
                        Bring forwards
                    </button>

                    <button ng-click="objectTransform('send_backwards')" class="btn btn-small btn-block">
                         Send backwards
                    </button>

                    <button ng-click="objectTransform('send_to_end')" class="btn btn-small btn-block">
                        Send to back
                    </button>
                </div>
            </div>

            <div class="btn-group col-sm-4">
                <div class="btn-group col-xs-12">
                    <label>Opasity</label>
                    <div>
                        <input type="range" min="0" max="1" step=".1"  ng-model="canvasObjects.opacity" change="objectTransform('opacity')">
                    </div>

                    <button ng-click="objectTransform('flip')" class="btn btn-small btn-block">
                        <i class="fa fa-exchange"></i> Flip
                    </button>

                    <button ng-click="objectTransform('lock')" class="btn btn-small btn-block">
                        Lock
                    </button>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Templates">
        <div class="col-sm-12 mode-templates">
            <h3>Templates</h3>
            <img 
                class='img-thumb'
                ng-repeat="template in canvasTemplates"
                ng-src="{{template.imageTumb}}"
                ng-dblclick="addTemplatesIntoCanvas(template.objects,template.canvas_size)"
            />
        </div>
    </tab>
    <tab heading="Background">
      <div class="col-sm-12 mode-templates">
          <h3>Backgrounds</h3>

<!--background uploads form-->
<div class="col w-lg bg-light b-r bg-auto">
    <div class="wrapper-md dker b-b">
      <h3 class="m-n font-thin">Select files</h3>
    </div>
    <div class="wrapper-md">

      <!-- Example: nv-file-select="" backgroundUploader="{Object}" options="{Object}" filters="{String}" -->
      <p>Multiple</p>
      <input type="file" nv-file-select="" uploader="backgroundUploader" multiple  />

    </div>
  </div>
  <div class="col">
    <div class="wrapper-md bg-light dk b-b">
      <span class="pull-right m-t-xs">Queue length: <b class="badge bg-info">{{ backgroundUploader.queue.length }}</b></span>
      <h3 class="m-n font-thin">Upload queue</h3>      
    </div>
    <div class="wrapper-md">
      <table class="table bg-white-only b-a">
          <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in backgroundUploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                      <div class="progress progress-sm m-b-none m-t-xs">
                          <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          Upload
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                          Cancel
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                          Remove
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div>
        <div>
          <p>Queue progress:</p>
          <div class="progress bg-light dker" style="">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': backgroundUploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-addon btn-success" ng-click="backgroundUploader.uploadAll()" ng-disabled="!backgroundUploader.getNotUploadedItems().length">
          <i class="fa fa-arrow-circle-o-up"></i> Upload all
        </button>
        <button type="button" class="btn btn-addon btn-warning" ng-click="backgroundUploader.cancelAll()" ng-disabled="!backgroundUploader.isUploading">
          <i class="fa fa-ban"></i> Cancel all
        </button>
        <button type="button" class="btn btn-addon btn-danger" ng-click="backgroundUploader.clearQueue()" ng-disabled="!backgroundUploader.queue.length">
            <i class="fa fa-trash-o"></i> Remove all
        </button>
      </div>
    </div>
  </div>
<!--end background uploads form-->
        <h3>Admin Backgrounds</h3>
        <div class="col-sm-12">
            <div class="background-item" ng-repeat="background in canvasbackGrounds.adminBackgrounds">
                <div class="background-parent" ng-if="background.parent_id == 0">
                    <img
                        id = 'backgrounds-{{background.id}}'
                        class='img-thumb'
                        ng-src="{{background.imageThumb}}"
                        ng-dblclick="addBackgroundIntoCanvas(background,true)"
                    />
                    <input
                        type='image' 
                        src='http://images.aviary.com/images/edit-photo.png' 
                        value='Edit photo' 
                        ng-click="launchEditor('backgrounds-'+background.id,background.file);" />
                </div>
                <div class="background-child" 
                     ng-repeat="child in canvasbackGrounds.adminBackgrounds"
                     ng-if="child.parent_id == background.id">
                    <img
                        id = 'backgrounds-{{child.id}}'
                        class='img-thumb'
                        ng-src="{{child.imageThumb}}"
                        ng-dblclick="addBackgroundIntoCanvas(child,true)"
                    />
                    <input
                        type='image' 
                        src='http://images.aviary.com/images/edit-photo.png' 
                        value='Edit photo' 
                        ng-click="launchEditor('backgrounds-'+background.id,child.file);" />
                </div>
                <hr>
            </div>
        </div>
        <h3>My Backgrounds</h3>
        <div class="col-sm-12">
            <div class="background-item" ng-repeat="background in canvasbackGrounds.userBackgrounds">
                <div class="background-parent" ng-if="background.parent_id == 0">
                    <img
                        id = 'backgrounds-{{background.id}}'
                        class='img-thumb'
                        ng-src="{{background.imageThumb}}"
                        ng-dblclick="addBackgroundIntoCanvas(background,true)"
                    />
                    <input
                        type='image'
                        src='http://images.aviary.com/images/edit-photo.png'
                        value='Edit photo'
                        ng-click="launchEditor('backgrounds-'+background.id,background.file);" />
                </div>
                <div class="background-child"
                     ng-repeat="child in canvasbackGrounds.userBackgrounds"
                     ng-if="child.parent_id == background.id">
                    <img
                        id = 'backgrounds-{{child.id}}'
                        class='img-thumb'
                        ng-src="{{child.imageThumb}}"
                        ng-dblclick="addBackgroundIntoCanvas(child,true)"
                    />
                    <input
                        type='image'
                        src='http://images.aviary.com/images/edit-photo.png'
                        value='Edit photo'
                        ng-click="launchEditor('backgrounds-'+background.id,child.file);" />
                </div>
                <hr>
            </div>
        </div>
      </div>
    </tab>

    <tab heading="Library">
        <div class="col-sm-12">
            <h3>Objects</h3>
            <img
                class='img-thumb'
                ng-repeat="object in canvasObjects"
                ng-src="{{object.imageTumb}}"
                ng-dblclick="addObjectsIntoCanvas(object.type,object.content)"
            />
        </div>
    </tab>

    <tab heading="Uploads">

        <!--Image uploads form-->
        <div class="col w-lg bg-light b-r bg-auto">
            <div class="wrapper-md dker b-b">
              <h3 class="m-n font-thin">Select files</h3>
            </div>
            <div class="wrapper-md">

              <!-- Example: nv-file-select="" backgroundUploader="{Object}" options="{Object}" filters="{String}" -->
              <p>Multiple</p>
              <input type="file" nv-file-select="" uploader="imageUploader" multiple  />

            </div>
          </div>
          <div class="col">
            <div class="wrapper-md bg-light dk b-b">
              <span class="pull-right m-t-xs">Queue length: <b class="badge bg-info">{{ imageUploader.queue.length }}</b></span>
              <h3 class="m-n font-thin">Upload queue</h3>      
            </div>
            <div class="wrapper-md">
              <table class="table bg-white-only b-a">
                  <thead>
                      <tr>
                          <th width="50%">Name</th>
                          <th ng-show="uploader.isHTML5">Size</th>
                          <th ng-show="uploader.isHTML5">Progress</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="item in imageUploader.queue">
                          <td><strong>{{ item.file.name }}</strong></td>
                          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                          <td ng-show="uploader.isHTML5">
                              <div class="progress progress-sm m-b-none m-t-xs">
                                  <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                              </div>
                          </td>
                          <td class="text-center">
                              <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                              <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                              <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                          </td>
                          <td nowrap>
                              <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  Upload
                              </button>
                              <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  Cancel
                              </button>
                              <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                                  Remove
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div>
                <div>
                  <p>Queue progress:</p>
                  <div class="progress bg-light dker" style="">
                      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': backgroundUploader.progress + '%' }"></div>
                  </div>
                </div>
                <button type="button" class="btn btn-addon btn-success" ng-click="backgroundUploader.uploadAll()" ng-disabled="!backgroundUploader.getNotUploadedItems().length">
                  <i class="fa fa-arrow-circle-o-up"></i> Upload all
                </button>
                <button type="button" class="btn btn-addon btn-warning" ng-click="backgroundUploader.cancelAll()" ng-disabled="!backgroundUploader.isUploading">
                  <i class="fa fa-ban"></i> Cancel all
                </button>
                <button type="button" class="btn btn-addon btn-danger" ng-click="backgroundUploader.clearQueue()" ng-disabled="!backgroundUploader.queue.length">
                    <i class="fa fa-trash-o"></i> Remove all
                </button>
              </div>
            </div>
          </div>
        <!--end Image uploads form-->
        <div class="col-sm-12">
            <div class="image-item" ng-repeat='object in images'>
                <div class="image-parent" ng-if="object.parent_id == 0">
                    <img
                        id = 'images-{{object.id}}'
                        class='img-thumb'
                        ng-src="{{object.imageThumb}}"
                        ng-dblclick="addImageIntoCanvas(object.file)"
                    />
                    <input
                        type='image' 
                        src='http://images.aviary.com/images/edit-photo.png' 
                        value='Edit photo' 
                        ng-click="launchEditor('images-'+object.id,object.file);" />
                </div>
                <div class="background-child" 
                     ng-repeat="child in images"
                     ng-if="child.parent_id == object.id">
                    <img
                        id = 'images-{{child.id}}'
                        class='img-thumb'
                        ng-src="{{child.imageThumb}}"
                        ng-dblclick="addImageIntoCanvas(child.file)"
                    />
                    <input
                        type='image' 
                        src='http://images.aviary.com/images/edit-photo.png' 
                        value='Edit photo' 
                        ng-click="launchEditor('images-'+object.id,child.file);" />
                </div>
            <hr>
            </div>
        </div>
    </tab>
  </tabset>
</ul>
<!-- / list -->